<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBztm6ycK8vcaNECJaO5pMnohJeh6csDFY</string>
	<key>GCM_SENDER_ID</key>
	<string>229866312091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newGoogleSignin</string>
	<key>PROJECT_ID</key>
	<string>new--signin-b3260</string>
	<key>STORAGE_BUCKET</key>
	<string>new--signin-b3260.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229866312091:ios:0934312d6507604d05d13e</string>
</dict>
</plist>